.container {
    max-width: 800px;
    margin: 30px auto;
    border-radius: 4px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0,  0.3);
    padding: 16px;
  }

  .button {
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #303030;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  .button:hover {
    border-color: lightskyblue;
    color: lightskyblue
  }


  .message {
    position: fixed;
    left: 50%;
    top: 10px;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50px);
    padding: 10px 16px;
    background-color: #67C23A;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    opacity: 0;
    transition: all .3s;
  }

  .message .iconfont {
    margin-right: 6px;
  }

  .message.show {
    transform: translate(-50%, 10px);
    opacity: 1;
  }

  .message.success {
    background-color: #67C23A;
  }

  .message.warning {
    background-color: #E6A23C;
  }

  .message.info {
    background-color: #909399;
  }

  .message.danger {
    background-color: #F56C6C;
  }